#dado-box {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    color: #0E2954;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
    color: #2E8A99;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #1F6E8C;
}

img {
    height: 300px;
    border-radius: 30px;
}

#img-box{
    display: flex;
    justify-content:space-evenly;
}

.dado {
    color: #84A7A1;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}